# Binaries
a.out
movie_system
*.o

# Emscripten Outputs (keeping for now as requested, but usually rebuilt)
# index.js
# index.wasm

# OS files
.DS_Store
*.pdf
node_modules/
.next/
.env
bun.lock


# Local Netlify folder
.netlify
dist/
